* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #faf5eb;
  color: #3b2810;
}
a {
  text-decoration: none;
  color: inherit;
}
.back-btn {
  margin:1rem;
  background:none;
  border:none;
  color:#3b2810;
  cursor:pointer;
  font-size:1rem;
}
